.account h2 {
  text-align: center;
  font-weight: 500;
  font-size: 33px;
  line-height: 43px;
  color: #000000;
  margin-bottom: 64px;
  margin-top: 128px;
}
.account .buttonsContainer {
  z-index: 1;
  position: relative;
  width: 500px;
  height: 60px;
  background: #EFEFEF;
  border-radius: 8px;
  margin-right: auto;
  margin-left: auto;
}
.account .buttonsContainer #toggleButtons {
  position: absolute;
  z-index: 15;
  width: 500px;
  height: 60px;
  background-color: transparent;
}
.account .buttonsContainer #toggleButtons .button {
  z-index: 2;
  position: absolute;
  width: 236px;
  height: 50px;
  background: #FFFFFF;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 5px auto 5px 5px;
  transition: 0.5s;
}
.account .buttonsContainer #toggleButtons .buttonsNames {
  width: 100%;
  position: absolute;
}
.account .buttonsContainer #toggleButtons .buttonsNames p {
  width: 50%;
  height: 60px;
  text-align: center;
  z-index: 5;
  font-weight: 400;
  font-size: 20px;
  line-height: 60px;
  color: #000000;
}
.account .buttonsContainer #toggleButtons.toggle-signIn .button {
  margin: 5px 5px 5px 259px;
  transition: 0.5s;
}
.account .formContainer {
  width: 500px;
  height: 500px;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 131px;
}
.account .formContainer #accountForm {
  display: flex;
  width: 1000px;
  position: absolute;
  right: -100%;
  transition: 0.5s;
}
.account .formContainer #accountForm .singInForm, .account .formContainer #accountForm .registrationForm {
  width: 500px;
}
.account .formContainer #accountForm .singInForm form, .account .formContainer #accountForm .registrationForm form {
  width: 500px;
}
.account .formContainer #accountForm .singInForm form input.mainFormInput, .account .formContainer #accountForm .registrationForm form input.mainFormInput {
  width: 100%;
  height: 39px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #D8D8D8;
  margin-bottom: 46px;
}
.account .formContainer #accountForm .singInForm form input::placeholder, .account .formContainer #accountForm .registrationForm form input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #707070;
}
.account .formContainer #accountForm .singInForm form label, .account .formContainer #accountForm .registrationForm form label {
  display: flex;
  width: 500px;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 69px;
}
.account .formContainer #accountForm .singInForm form label input, .account .formContainer #accountForm .registrationForm form label input {
  width: 16px;
}
.account .formContainer #accountForm .singInForm form label p, .account .formContainer #accountForm .registrationForm form label p {
  display: block;
  margin: 0 7px;
}
.account .formContainer #accountForm .singInForm form label a, .account .formContainer #accountForm .registrationForm form label a {
  display: block;
  color: #707070;
}
.account .formContainer #accountForm .singInForm form button, .account .formContainer #accountForm .registrationForm form button {
  cursor: pointer;
  width: 500px;
  height: 53px;
  background: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 13px;
}
.account .formContainer #accountForm .singInForm a, .account .formContainer #accountForm .registrationForm a {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #000000;
}
.account .formContainer #accountForm.toggle-signIn {
  right: 0;
  transition: 0.5s;
}

.remind {
  margin: 128px auto 128px auto;
  width: 600px;
}
.remind h2 {
  text-align: center;
  font-weight: 500;
  font-size: 33px;
  line-height: 43px;
  color: #000000;
  margin-bottom: 39px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.remind p {
  width: 500px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 76px;
}
.remind input {
  width: 500px;
  height: 39px;
  box-sizing: border-box;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #D8D8D8;
  margin-bottom: 64px;
}
.remind input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #707070;
}
.remind button {
  cursor: pointer;
  width: 500px;
  height: 53px;
  background: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 13px;
}

/*# sourceMappingURL=account.css.map */
