body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

p {
  margin: 0;
}

.flexible {
  display: flex;
}

a {
  text-decoration: none;
}

input:active {
  outline: 0;
  outline-offset: 0;
}
input:focus {
  outline: 0;
  outline-offset: 0;
}